body{
  margin: 0;
  padding: 0;
}

#cont1{
  width: 500px;
  height: 200px;
  /*top: 50px;
  left: 50px;*/
  position: relative;
} 
#cont2{
  width: 400px;
  height: 100px;
  /*top: 100px;
  left: 600px;*/
  position: relative;
} 

/* i1 */


.i1{
    width: 200px;
    height: 100px;
    overflow: hidden;
    position: relative;
}

.i1 .main,
.i1 .popup{
    position: absolute;
    width: 100%;
    height: 100%;
}

.i1 .main{
    background: #eee;
  margin-top:0;  
}
.i1 .popup{
    background: #ccc;
 -webkit-transition: all 0.4s; 
 -moz-transition: all 0.4s; 
 -o-transition: all 0.4s;
 transition: all 0.4s;
 top: 100%;
}
.i1:hover .popup{

  top: 0;  

}

/* i4 */

.i4{
  width: 100%;
}

.i4 > div{
  width: 10%;
  min-height: 100%;
  float: left;
  position: absolute;
  overflow: hidden;
}
.i4 div.closed{
  cursor: pointer;
}
.i4 div .content{
  display: none;
}



.i4 div.item:nth-child(1){
  background-color: #aaa;
} 
.i4 div.item:nth-child(2){
  background-color: #bbb;
} 
.i4 div.item:nth-child(3){
  background-color: #ccc;
} 
.i4 div.item:nth-child(4){
  background-color: #ddd;
} 
.i4 div.item:nth-child(5){
  background-color: #eee;
} 